body{
    margin:0px; 
    font-family: "tinytots";
    
    color:gray;
    
    font-size:10px; 
    line-height:100%;
    

    background-image:url('https://i.postimg.cc/HL4DGLyS/subtlenet2.png');
    
    background-attachment: fixed;
    background-repeat: repeat;   
    background-color: white;
}
 
a{
    text-decoration:none; 
    outline:none; 
    -moz-outline-style:none; 
    -webkit-transition: all 0.3s linear; 
    -moz-transition: all 0.3s linear; 
    -o-transition: all 0.3s linear;
   
    color:#000000;
}
 
a:hover{
    text-shadow:0px 0px 5px #000000;
    
 
    color:#ffffff;
}

#bar{
    position:fixed;
    width:100%;
    height:35px;
    bottom:145px;

    background-color:#2a2a2a;
    
 
    border-top:4px solid #575757;
    border-bottom:4px solid #575757;
z-index:-1;
}
 
#bar2{
    position:fixed;
    width:100%;
    height:15px;
    bottom:100px;
    background-color:#2a2a2a;
    border-top:4px solid #575757;
    border-bottom:4px solid #575757;
z-index:-1;
}
 
 
#title{
    position:fixed;
    margin-left:570px;
    margin-top:80px;
    width:250px;
    height:30px;
    text-align:center;
    font-family: "eurof35";
    font-size:50px; 
    color:#2a2a2a;
    text-shadow:2px 0 0 rgba(255,255,255,0.3), -2px 0 0 rgba(0,0,0,0.3);
    -webkit-transition: all 0.3s linear; 
    -moz-transition: all 0.3s linear; 
    -o-transition: all 0.3s linear;
    
    border-bottom:2px solid #000000;
}
 
#title:hover{
    text-shadow:none;
}
 
/*BOX*/
 
#boxback{
    position:fixed;
    margin-left:550px;
    margin-top:130px;
    height:80px;
    width:300px;
    
    background-color:#2a2a2a;
    
    border-top:4px solid #575757;
    border-bottom:2px solid #575757;
}
 
#box{
    position:fixed;
    margin-top:10px;
    margin-left:25px;
    font-size:6px; 
    width:220px;
    padding:15px;
    text-align:center;
    text-transform:uppercase;
    box-shadow:0px 0px 5px #c7c7c7;
    
   
    background-color:#ffffff;
}
 
    
/*IMAGEN*/
 
#render{
    position:fixed;
    bottom:0;
    margin-left:130px;
    max-width:250px;
    z-index:1;
}
/*LINKS*/
 
 
#links{
    position:fixed;
    bottom:195px;
    left:145px;
    z-index:1;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
        -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
}
 
#links:hover{
   -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}